.container {
  position: absolute;
  bottom: 0%;
  top: 10%;
  left: 0%;
  right: 0%;  
}

.bar {
  display: inline-block;
  vertical-align: middle;
}

body{
  background-color: navajowhite;
  text-align: center;
}

.menu {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: black;
}

.btn {
  width: 30%;
  height: 100%;
  font-size: 100%;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  outline-color: transparent;
  text-shadow: 2px 2px 8px cyan;
  cursor: pointer;
}